vue-web-components/vue-dag-component/public/ETL_Iterator.json
{
  "Comment": "Iterator ETL",
  "StartAt": "ConfigureCount",
  "States": {
    "ConfigureCount": {
      "Type": "Pass",
      "Result": {
        "count": 2,
        "index": 0,
        "step": 1
      },
      "ResultPath": null,
      "Next": "Iterator"
    },
    "Iterator": {
      "Type": "Task",
      "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:Iterator",
      "ResultPath": "$.iterator",
      "Next": "IsCountReached"
    },
    "IsCountReached": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterator.continue",
          "BooleanEquals": true,
          "Next": "process-step-input"
        }
      ],
      "Default": "Done"
    },
    "process-step-input": {
      "Type": "Task",
      "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:process_step_parameters",
      "ResultPath": "$.parameter",
      "Next": "choice-type"
    },
    "choice-type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parameter.next_step",
          "StringEquals": "move-to-readable",
          "Next": "move-to-readable"
        },
        {
          "Variable": "$.parameter.next_step",
          "StringEquals": "start_glue_job",
          "Next": "start_glue_job"
        }
      ],
      "Default": "move-to-readable"
    },
    "start_glue_job": {
      "Type": "Task",
      "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:Run_Glue_job",
      "ResultPath": "$.parameter",
      "Next": "move-to-readable"
    },
    "move-to-readable": {
      "Next": "Iterator",
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.clusterId",
        "Step": {
          "Name": "My EMR step",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args.$": "$.parameter.args"
          }
        }
      },
      "ResultPath": "$.firstStep"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}